:root {
    --color-1: #778da9;
    --color-2: #415a77;
    --color-3: #1b263b;
    --color-4: #e0e1dd;
    --color-5: #0d1b2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-4);
    /* border: 1px dashed red; */
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-1);

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 10px;
    row-gap: 10px;
}

/* ----------------------------------------- HEADER ------------------------------------ */
header {
    grid-column: 1 / -1;
    background-color: var(--color-1);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header__banner {
    margin: 0 10px;
    flex-grow: 1;
    /* width: 100%; */
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-4);
}
.logo:hover {
    cursor: pointer;
}
.header__search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    color: var(--color-5);
}
.header__search__button {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: var(--color-4);
    color: var(--color-5);
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
}
.header__search__button:hover{
    background-color: var(--color-3);
    color: var(--color-4);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
.header__search__button:active{
    background-color: var(--color-5);
    color: var(--color-4);
}

/* ----------------------------------------- NAV ------------------------------------ */
nav {
    grid-row: 2;
    display: flex;
    padding: 20px;
    background-color: var(--color-2);
    flex-direction: column;
    gap: 20px;
}
.nav__link{
    border-bottom: #0d1b2a solid 2px;
    border-left: #0d1b2a solid 2px;
    text-decoration: none;
    color: var(--color-4);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav__active,
.nav__link:hover{
    background-color: var(--color-3);
    color: var(--color-4);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
.nav__link:active{
    background-color: var(--color-5);
    color: var(--color-4);
}
/* ----------------------------------------- MAIN ------------------------------------ */
main {
    grid-row: 2;
    padding: 20px;
    background-color: var(--color-2);
}
main img {
    border-radius: 10px;
    /* float: left; */
    padding: 10px;
}
.main__videopage {
    background-image: url(/Images/filmrulle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* ----------------------------------------- ASIDE ------------------------------------ */
aside {
    grid-row: 2;
    padding: 20px;
    background-color: var(--color-2);
}

/* ----------------------------------------- FOOTER ------------------------------------ */
footer {
    grid-column: 1 / -1;
    background-color: var(--color-3);
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}
.footer__copyright {
    text-align: center;
}
.footer__Main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}
